{% extends 'base.html' %}
{% block content %}
<a href="/profile" class="back_link">Go Back</a>
    <div class="card border-warning mb-3 signup-div">
        <div class="card">
            <div class="card-body">
                <h3>Are you sure you want to delete this comment?</h3>
                <form method="post">
                    {% csrf_token %}
                    <input type="submit" value="Delete" class="btn btn-warning mt-3">
                </form>
            </div>
        </div>
    </div>

{% endblock %}