{% extends 'base.html' %} {% block content %}
<a href="/profile" class="back_link">Go Back</a>
<div class="container">
  <div class="row">
    <div class="col-mad-12">
      <div class="section-header text-center pb-5">
        <form method="POST">
          {% csrf_token %}
          <p>
            <label for="id_content">
              <textarea
                name="content"
                cols="40"
                rows="10"
                maxlength="250"
                required
                id="id_content"
              >
 {{ comment.content }}

</textarea
              >
            </label>
          </p>
          <input type="submit" value="Save" class="btn btn-warning mt-3" />
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
