{% extends 'base.html' %} 
{% block content %}
{% load static %}
<div class="row">
  <div class="col-12 col-md-6 col-lg-3">
      <div class="card text-center">
<h1 >{{ user.username }}'s Profile Page</h1>

{% for photo in user.photo_set.all %}
      <img class="responsive-img card-panel profile_photo" src="{{photo.url}}">
    {% empty %}
      <div class="card-panel teal-text center-align">No Photo Uploaded</div>
    {% endfor %}
    <form action="{% url 'profile' user.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
    
      {% csrf_token %}
      <input type="file" name="photo_file">
      <br><br>
      <button type="submit" class="photo-btn">Upload Photo</button>
      
    </form>
  </div>

  <!-- remove 'no file chosen' -->
  <style type="">
    input[type='file'] {
       color: transparent;
    }
</style>
<br>
<div>
    <form id="locationForm" method="post" action="{% url 'profile' %}">
      {% csrf_token %}
      <input type="hidden" name="latitude" id="latitudeInput">
      <input type="hidden" name="longitude" id="longitudeInput">
    </form>
</div>


<table class="comment_table">
  <thead>
    <tr>
        <th>Age</th>
        <td>{{ profile.age }}</td>
        </tr>
        <tr>
        <th>Location</th>
        <td>{{ profile.location }}</td>
        </tr>
        <tr>
        <th>Favorite Activities</th>
        <td>{{ profile.favorites }}</td>
      </tr>
    </tr>
</thead>

</table>
<br>
<a href="{% url 'update_profile' pk=profile.pk %}">
  <button type="button" class="update-btn">Update Profile</button>
</a>



<div>
  <form id="locationForm" method="post" action="{% url 'profile' %}">
    {% csrf_token %}
    <input type="hidden" name="latitude" id="latitudeInput">
    <input type="hidden" name="longitude" id="longitudeInput">
  </form>
</div>


<br><br>
<a href="{% url 'create_comment' %}" ><button type="button" class="comment-btn">Add a comment for {{ user.username }}</button> </a>
<br><br>
<table class="comment_table">

    <thead>
      <tr>
          <th>Username</th>
          <th>Comments</th>
          <th>Edit</th> 
          <th>Delete</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          
          <td></td>
          <td></td>
      </tr>
      {% for comment in comments %}
          <tr>
          
              <td>{{ comment.user.username }}</td>
              <td>{{ comment.content }}</td>
              <td><a href="{% url 'edit_comment' comment.id %}" class="edit_link">Edit</a></td>
              <td><a href="{% url 'delete_comment' comment.id %}" class="delete_link">Delete</a></td>
          </tr>
      {% endfor %}
  </tbody>
</table>
    </div>
  </div>
</div>

<nav
      class="navbar navbar-expand-md fixed-bottom bg-body d-flex flex-grow-1 flex-fill justify-content-center align-items-center align-self-stretch flex-nowrap py-3 pt-0 my-0 pb-0 mx-0 px-0 ps-0"
      style="background: grey"
    >
        <a href="{% url 'profile' %}">
        <div class="wrapper">
        <div class="button">
            <div class="icon"><i class="bi bi-person-circle"></i></div>
            <span>Profile</span>
            </div>
        </a>
        <a href="{% url 'match' %}">
        <div class="button">
            <div class="icon"><i class="bi bi-heart-fill"></i></div>
            <span>Matches</span>
            </div>
        </a>
        <a href="#">
            <div class="button">
                <div class="icon"><i class="bi bi-person-hearts"></i></div>
                <span>Friends</span>
            </div>
        </a>
        <a href="{% url 'logout' %}">
            <div class="button">
                <div class="icon"><i class="bi bi-box-arrow-right"></i></div>
                <span>Log-Out</span>
            </div>
        </a>
            </div>
    </nav>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
<script src="{% static 'user/profile_edit.js' %}"></script>

{% endblock %}