<h1>TABLE INCLUDED</h1>

            <table id="profile-table">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Gender</th>
                        <th>Matching Activities</th>
                        <th>Distance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for profile in matched_profiles %}
                    <tr>
                        <td>{{ profile.user }}</td>
                        <td>{{ profile.gender }}</td>
                        <td>{{ profile.chosen_activities }}</td>
            
                    </tr>
                    {% endfor %}
                </tbody>
            </table>