{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitMeIn</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <main>
        {% block content %}
        <h1>About FitMeIn</h1>
        <h3>A motivational app for those who need that extra push in their workout routine. Made by couch-potatoes for
            couch-potatoes.</h3>
        <div>
            <ul>
                <li>WHY</li>
                <p>We believe that a healthy lifestyle is essential and we want anyone that is unsure of working out or
                    starting to get into fitness to know that they are not alone out there.</p>
                <li>HOW</li>
                <p>By connecting people through their workout interests they can be motivated to take up activities
                    together!</p>
                <li>WHAT</li>
                <p>Through FitMeIn, users get to be matched to other users that have similar workout goals and they can
                    work towards their common goals together, motivating each other in the process.</p>
            </ul>
        </div>
        <div>
            <ul>
                <li>Select your workout</li>
                <p>Just select the activities you would like to do and hit "Match Me". Trust me, there is someone out
                    there just like yourself!</p>
                <li>Get Matched!</li>
                <p>FitMeIn will find that one or many other couch potatoes loking for the same thing as you. Check their
                    profiles, read their reviews and choose who would you like to workout with!</p>
                <li>Enjoy your workout with others</li>
                <p>We provide the means for your communication. All you have to do is meet-up and start exercising!</p>
            </ul>
        </div>
        {% endblock %}
    </main>
</body>