{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FitMeIn</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
        crossorigin="anonymous"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,800&display=swap" rel="stylesheet">
    
      </head>
<body>
    <footer
      class="d-flex flex-fill justify-content-center align-items-center align-content-stretch my-0 mx-0"
      style="position: sticky; background: #a478f5"
    >
  <div id="carouselExampleCaptions" class="carousel slide">
      <div class="carousel-indicators">
          <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://i.imgur.com/jTn3xAB.png" class="d-block w-100" alt="...">
                <div class="carousel-caption ">
                    <h5 id="app-name">FitMeIn</h5>
                    <p>A motivational app for those who need that extra push in their workout routine. Made by couch-potatoes, for
                        couch-potatoes.</p>
                    <a href="{% url 'login' %}" class="btn btn-warning mt-3">Log In</a></p> <br>
                    <p><a href="{% url 'signup' %}" class="btn btn-warning mt-3">Sign Up</a></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://i.imgur.com/jTn3xAB.png" class="d-block w-100" alt="...">
                <div class="carousel-caption ">
                    <h5>WHY</h5>
                    <p>We believe that a healthy lifestyle is essential and want anyone that is unsure of working out or
                        starting to get into fitness to know that they are not alone</p>
                    <a href="{% url 'login' %}" class="btn btn-warning mt-3">Log In</a></p> <br>
                    <p><a href="{% url 'signup' %}" class="btn btn-warning mt-3">Sign Up</a></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://i.imgur.com/jTn3xAB.png" class="d-block w-100" alt="...">
                <div class="carousel-caption ">
                    <h5>HOW</h5>
                    <p>By connecting people through their workout interests they can be motivated to take up activities
                        together!</p>
                    <a href="{% url 'login' %}" class="btn btn-warning mt-3">Log In</a></p> <br>
                    <p><a href="{% url 'signup' %}" class="btn btn-warning mt-3">Sign Up</a></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://i.imgur.com/jTn3xAB.png" class="d-block w-100" alt="...">
                 <div class="carousel-caption ">
                    <h5>WHAT</h5>
                    <p>Through FitMeIn, users get to be matched to other users that have similar workout goals and they can
                        work towards their common goals together, motivating each other in the process.</p>
                    <a href="{% url 'login' %}" class="btn btn-warning mt-3">Log In</a></p> <br>
                    <p><a href="{% url 'signup' %}" class="btn btn-warning mt-3">Sign Up</a></p>
                </div>
            </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
  </div>
  <br>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-4" id="about-app">
            <div class="card text-white text-center bg-dark pb-2">
            <div class="card-body">
                <i class="bi bi-hand-index-thumb"></i>
                <h3 class="card-title">Select your workout!</h3>
                <p class="lead">Just select the activities you would like to do and hit "Match Me". <br> Trust me, there is someone out
                    there just like yourself!</p>
                    <button class="btn btn-warning text-dark">Favourite Activities</button>
                <h3 class="card-title"></h3>
            </div>
        </div>
    </div>
        <div class="col-12 col-md-12 col-lg-4" id="about-app">
            <div class="card text-white text-center bg-dark pb-2">
            <div class="card-body">
                <i class="bi bi-emoji-smile-fill"></i>
                <h3 class="card-title">Get Matched!</h3>
                <p class="lead">FitMeIn will find that one or many other couch potatoes looking for the same thing as you.<br> Check their
                    profiles, read their reviews and choose who would you like to workout with!</p>
                    <button class="btn btn-warning text-dark">Match Me</button>
                <h3 class="card-title"></h3>
            </div>
        </div>
    </div>
        <div class="col-12 col-md-12 col-lg-4"id="about-app">
            <div class="card text-white text-center bg-dark pb-2">
            <div class="card-body" >
                <i class="bi bi-chat-right-dots"></i>
                <h3 class="card-title">Enjoy your workout with others</h3>
                <p class="lead">We provide the means for your communication. All you have to do is meet-up and start exercising!</p>
                    <button class="btn btn-warning text-dark">Start Chatting</button>
                <h3 class="card-title"></h3>
            </div>
        </div>
    </div>
</div>
<br><br><br>

<section id="team" class="team section-padding">
    <div class="container">
        <div class="row">
            <div class="col-mad-12">
                <div class="section-header text-center pb-5">
                    <h2>Our Team</h2>
                    <p>Meet the hard-working team behind this app!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card text-center"id="team">
                    <div class="card-body">
                        <img src="static/images/lucas.png" alt="" class="img-fluid rounded-circle">
                        <h3 class="card-title py-2">Lucas Neno</h3>
                        <p class="card-text">Lucas is an amazing developer and planner with a wide range of skills in software development. <br> Check out his GitHub page using the Git Icon below.</p>
                        <p class="socials">
                            <a href="https://github.com/casneno">
                                <i class="bi bi-github text-dark mx-1" id="git-logo"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card text-center"id="team">
                    <div class="card-body">
                        <img src="static/images/hannah.png" alt="" class="img-fluid rounded-circle">
                        <h3 class="card-title py-2">Hannah Curran</h3>
                        <p class="card-text">Hannah is a fantastic team player and hard working software engineer who has a wide range of skills in software development. <br> Check out her GitHub page using the Git icon below.</p>
                        <p class="socials">
                            <a href="https://github.com/hannahcurran">
                                <i class="bi bi-github text-dark mx-1" id="git-logo"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card text-center"id="team">
                    <div class="card-body">
                        <img src="static/images/angelica.png" alt="" class="img-fluid rounded-circle">
                        <h3 class="card-title py-2">Angelica Sandrini</h3>
                        <p class="card-text">Angelica Sandrini is a phenomenal and hard working software developer with a wide range of knowledge in software development. <br> Check out her GitHub page using the Git icon below. </p>
                        <p class="socials">
                            <a href="https://github.com/gellisun">
                                <i class="bi bi-github text-dark mx-1"id="git-logo"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card text-center" id="team">
                    <div class="card-body">
                        <img src="static/images/james.png" alt="" class="img-fluid rounded-circle">
                        <h3 class="card-title py-2">James Carter</h3>
                        <p class="card-text">Lucas is a wonderful developer and planner with a wide range of skills in software development.</p>
                        <p class="socials">
                            <a href="https://github.com/jamesc215">
                                <i class="bi bi-github text-dark mx-1" id="git-logo"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br><br><br><br>
    <footer
    class="d-flex flex-fill justify-content-center align-items-center align-content-stretch my-0 mx-0"
    style=" background: grey"
  >
    

  </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
</body>
